.hh-root {
  margin: 0;
  font-family: system-ui;
}

.hh-root * {
  box-sizing: border-box;
}

.hh-100 {
  min-height: 100vh;
}

.hh-root p,
.hh-root ul {
  line-height: 1.25;
}

.hh-input,
.hh-root input,
.hh-root select,
.hh-root button {
  -webkit-appearance: none;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  padding: 0.3em 0.5em;
  max-width: 30em;
}

.hh-max-input {
  max-width: 30em;
}

.hh-root input[type="range"] {
  /* Reset */
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  /* Style */
  display: block;
}
.hh-root input[type="range"]:focus {
  outline: none;
}

.hh-root input[type="range"]::-webkit-slider-thumb {
  /* Reset */
  -webkit-appearance: none;
  /* Style */
  background: currentColor;
  width: 1px;
  height: 1em;
}
.hh-root input::-webkit-color-swatch {
  border: none;
}

.hh-root select {
  border-radius: 0;
  padding: 1px;
  border: 0;
  background: none;
}

.hh-root button {
  border: 0;
  background: none;
}
.hh-root button:focus {
  position: relative;
  z-index: 1;
}

.hh-clamp-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@keyframes hh-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
