* {
  box-sizing: border-box;
}
html,
body,
#root {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: system-ui;
}

/* .Themer {
  transform-origin: top right;
  transform: scale(0.3);
  opacity: 0.8;
}
.Themer:hover {
  transform: scale(1);
  opacity: 1;
} */

.input,
input,
select,
button {
  -webkit-appearance: none;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  padding: 0.3em 0.5em;
  max-width: 30em;
}

.max-input {
  max-width: 30em;
}

input[type="range"] {
  /* Reset */
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  /* Style */
  display: block;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  /* Reset */
  -webkit-appearance: none;
  /* Style */
  background: currentColor;
  width: 1px;
  height: 1em;
}
input::-webkit-color-swatch {
  border: none;
}

select {
  border-radius: 0;
  padding: 1px;
  border: 0;
  background: none;
}

button {
  border: 0;
  background: none;
}
button:focus {
  position: relative;
  z-index: 1;
}

.clamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
